In [1]:
from pyspark import SparkContext
from pyspark import SQLContext
sc = SparkContext()
sqlContext = SQLContext(sc)
from pyspark.sql import SparkSession
sparkSession = SparkSession.builder.getOrCreate()

In [7]:
from pyspark.sql.functions import col, countDistinct

<b>Explore file #1 stores.csv</b>

In [2]:
sdfStores = sqlContext.read.csv("/gl-capstone-data/Team6-C-Sep/Data/stores.csv",header = True,inferSchema = True)

In [17]:
sdfStores.count()

54

In [8]:
sdfStores.agg(countDistinct(col("store_nbr")).alias("count")).show()
# store_nbr is the primary key as distinct count and total row count match

+-----+
|count|
+-----+
|   54|
+-----+

<b>Explore file #2 oil.csv</b>

In [10]:
sdfOil = sqlContext.read.csv("/gl-capstone-data/Team6-C-Sep/Data/oil.csv",header = True,inferSchema = True)

In [15]:
sdfOil.count()

1218

In [16]:
sdfOil.agg(countDistinct(col("date")).alias("count")).show()
# date is the primary key as distinct count and total row count match

+-----+
|count|
+-----+
| 1218|
+-----+

<b>Explore file #3 holidays_events.csv</b>

In [19]:
sdfHolidayEvents = sqlContext.read.csv("/gl-capstone-data/Team6-C-Sep/Data/holidays_events.csv",header = True,inferSchema = True)

In [20]:
sdfHolidayEvents.count()

350

In [21]:
sdfHolidayEvents.agg(countDistinct(col("date")).alias("count")).show()

+-----+
|count|
+-----+
|  312|
+-----+

In [28]:
sdfHolidayEvents.select("date").distinct().count()

312

In [24]:
sdfHolidayEvents.select("type").distinct().show()

+----------+
|      type|
+----------+
|     Event|
|   Holiday|
|  Transfer|
|    Bridge|
|Additional|
|  Work Day|
+----------+

In [25]:
sdfHolidayEvents.select("locale").distinct().show()

+--------+
|  locale|
+--------+
|National|
|   Local|
|Regional|
+--------+

In [27]:
sdfHolidayEvents.select("locale_name").distinct().count()

24

In [29]:
sdfHolidayEvents.select("date", "type", "locale_name").distinct().count()

349

In [33]:
sdfHolidayEvents.select("date", "type", "locale", "locale_name", "description", "transferred").distinct().count()
# All columns together form the PK

350

<b>Explore file #4 items.csv</b>

In [34]:
sdfItems = sqlContext.read.csv("/gl-capstone-data/Team6-C-Sep/Data/items.csv",header = True,inferSchema = True)

In [35]:
sdfItems.count()

4100

In [36]:
sdfItems.select("item_nbr").distinct().count()
# item_nbr is the primary key as distinct count and total row count match

4100

<b>Explore file #5 transactions.csv</b>

In [38]:
sdfTransactions = sqlContext.read.csv("/gl-capstone-data/Team6-C-Sep/Data/transactions.csv",header = True,inferSchema = True)

In [39]:
sdfTransactions.count()

83488

In [41]:
sdfTransactions.select("date", "store_nbr").distinct().count()
# date, store_nbr together form the primary key as distinct count and total row count match

83488

<b>Explore  file #6 sample_submission.csv</b>

In [42]:
sdfSampleSubmission = sqlContext.read.csv("/gl-capstone-data/Team6-C-Sep/Data/sample_submission.csv",header = True,inferSchema = True)

In [43]:
sdfSampleSubmission.count()

3370464

In [44]:
sdfSampleSubmission.select("id").distinct().count()
# id is the primary key as distinct count and total row count match

3370464

<b>Explore file #7 test.csv</b>

In [45]:
sdfTest = sqlContext.read.csv("/gl-capstone-data/Team6-C-Sep/Data/test.csv",header = True,inferSchema = True)

In [46]:
sdfTest.count()

3370464

In [47]:
sdfTest.select("id").distinct().count()

3370464

<b>Explore file #8 train.csv </b>

In [48]:
sdfTrain = sqlContext.read.csv("/gl-capstone-data/Team6-C-Sep/Data/train.csv",header = True,inferSchema = True)
# Only partial file is loaded in HDFS

In [49]:
sdfTrain.count()

49391194

In [ ]:
sdfTrain.select("id").distinct().count()

<b>Check relatioship between test and sample_submission </b>

In [51]:
print(sdfTest.show(10))

+---------+-------------------+---------+--------+-----------+
|       id|               date|store_nbr|item_nbr|onpromotion|
+---------+-------------------+---------+--------+-----------+
|125497040|2017-08-16 00:00:00|        1|   96995|      false|
|125497041|2017-08-16 00:00:00|        1|   99197|      false|
|125497042|2017-08-16 00:00:00|        1|  103501|      false|
|125497043|2017-08-16 00:00:00|        1|  103520|      false|
|125497044|2017-08-16 00:00:00|        1|  103665|      false|
|125497045|2017-08-16 00:00:00|        1|  105574|      false|
|125497046|2017-08-16 00:00:00|        1|  105575|      false|
|125497047|2017-08-16 00:00:00|        1|  105576|      false|
|125497048|2017-08-16 00:00:00|        1|  105577|      false|
|125497049|2017-08-16 00:00:00|        1|  105693|      false|
+---------+-------------------+---------+--------+-----------+
only showing top 10 rows

None

In [54]:
sdfSampleSubmission.createOrReplaceTempView("vwSampleSubmission")

In [55]:
sparkSession.sql('select * from vwSampleSubmission where id in (125497040, 125497041, 125497042, 125497043, 125497044, 125497045, 125497046, 125497047, 125497048, 125497049)').show()

+---------+----------+
|       id|unit_sales|
+---------+----------+
|125497040|         0|
|125497041|         0|
|125497042|         0|
|125497043|         0|
|125497044|         0|
|125497045|         0|
|125497046|         0|
|125497047|         0|
|125497048|         0|
|125497049|         0|
+---------+----------+

10 records from test are present in sample_submission. So concludng that sample_submission contains all the ids from test and unit_sales predictions