In [1]:
from pyspark import SparkContext
from pyspark import SQLContext
sc = SparkContext()
sqlContext = SQLContext(sc)
from pyspark.sql import SparkSession
sparkSession = SparkSession.builder.getOrCreate()

from pyspark.sql.functions import col, countDistinct
from pyspark.sql.functions import isnan, when, count, col


import matplotlib as plot
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
sdfTransactions = sqlContext.read.csv("/gl-capstone-data/Team6-C-Sep/Data/transactions.csv",header = True,inferSchema = True)

In [4]:
sqlContext.registerDataFrameAsTable(sdfTransactions, "sdfTransactionsTbl")

In [5]:
sqlContext.sql("select store_nbr, sum(transactions) as transactionssum  from sdfTransactionsTbl where date < '2014-01-01 00:00:00' group by store_nbr order by 2 desc").show(10)

+---------+---------------+
|store_nbr|transactionssum|
+---------+---------------+
|       44|        1493932|
|       47|        1376187|
|       46|        1304989|
|       45|        1292359|
|        3|        1141431|
|       48|        1089317|
|        8|        1013479|
|       50|         972039|
|       11|         893998|
|       34|         891297|
+---------+---------------+
only showing top 10 rows

In [6]:
sqlContext.sql("select store_nbr, count(transactions) as transactionsdayscount from sdfTransactionsTbl where date < '2014-01-01 00:00:00' group by store_nbr order by 2 desc").show(10)

+---------+---------------------+
|store_nbr|transactionsdayscount|
+---------+---------------------+
|       25|                  364|
|        6|                  363|
|       34|                  363|
|       28|                  363|
|       26|                  363|
|       27|                  363|
|       44|                  363|
|       12|                  363|
|       47|                  363|
|        1|                  363|
+---------+---------------------+
only showing top 10 rows

In [7]:
sqlContext.sql("select store_nbr, sum(transactions) as transactionssum  from sdfTransactionsTbl where date >= '2014-01-01 00:00:00' and date < '2015-01-01 00:00:00' group by store_nbr order by 2 desc").show(10)

+---------+---------------+
|store_nbr|transactionssum|
+---------+---------------+
|       44|        1622607|
|       47|        1447939|
|       45|        1370575|
|       46|        1344446|
|       48|        1168208|
|        3|        1166136|
|        8|        1029991|
|       50|         973035|
|       49|         949515|
|       34|         898376|
+---------+---------------+
only showing top 10 rows

In [8]:
sqlContext.sql("select store_nbr, count(transactions) as transactionsdayscount from sdfTransactionsTbl where date >= '2014-01-01 00:00:00' and date < '2015-01-01 00:00:00' group by store_nbr order by 2 desc").show(10)

+---------+---------------------+
|store_nbr|transactionsdayscount|
+---------+---------------------+
|       36|                  364|
|        6|                  363|
|       31|                  363|
|       34|                  363|
|       28|                  363|
|       26|                  363|
|       27|                  363|
|       44|                  363|
|       12|                  363|
|       47|                  363|
+---------+---------------------+
only showing top 10 rows

In [9]:
sqlContext.sql("select store_nbr, sum(transactions) as transactionssum  from sdfTransactionsTbl where date >= '2015-01-01 00:00:00' and date < '2016-01-01 00:00:00' group by store_nbr order by 2 desc").show(10)

+---------+---------------+
|store_nbr|transactionssum|
+---------+---------------+
|       44|        1593523|
|       47|        1430126|
|       45|        1337679|
|       46|        1311670|
|        3|        1175267|
|       48|        1128070|
|       49|        1054872|
|        8|        1002385|
|       50|         953655|
|       24|         843558|
+---------+---------------+
only showing top 10 rows

In [10]:
sqlContext.sql("select store_nbr, count(transactions) as transactionsdayscount from sdfTransactionsTbl where date >= '2015-01-01 00:00:00' and date < '2016-01-01 00:00:00' group by store_nbr order by 2 desc").show(10)

+---------+---------------------+
|store_nbr|transactionsdayscount|
+---------+---------------------+
|       25|                  364|
|       16|                  363|
|       13|                  363|
|       34|                  363|
|       31|                  363|
|       26|                  363|
|       27|                  363|
|       44|                  363|
|       28|                  363|
|       53|                  363|
+---------+---------------------+
only showing top 10 rows

In [11]:
sqlContext.sql("select store_nbr, sum(transactions) as transactionssum  from sdfTransactionsTbl where date >= '2016-01-01 00:00:00' and date < '2017-01-01 00:00:00' group by store_nbr order by 2 desc").show(10)

+---------+---------------+
|store_nbr|transactionssum|
+---------+---------------+
|       44|        1574685|
|       47|        1402767|
|       45|        1333314|
|       46|        1233791|
|        3|        1164208|
|       49|        1090042|
|       48|        1056809|
|        8|         980025|
|       50|         893879|
|       11|         829133|
+---------+---------------+
only showing top 10 rows

In [12]:
sqlContext.sql("select store_nbr, count(transactions) as transactionsdayscount from sdfTransactionsTbl where date >= '2016-01-01 00:00:00' and date < '2017-01-01 00:00:00' group by store_nbr order by 2 desc").show(10)

+---------+---------------------+
|store_nbr|transactionsdayscount|
+---------+---------------------+
|       32|                  363|
|       33|                  363|
|       39|                  363|
|       24|                  363|
|       26|                  363|
|       34|                  363|
|       31|                  363|
|       37|                  363|
|       38|                  363|
|       30|                  363|
+---------+---------------------+
only showing top 10 rows

From all the above, it can be seen that stores 44 and 47 have high sum of transactions and also the total number of days of transaction.
We can possibly use the data for 2013 and 2014 and then predict for some days in 2015.

In [6]:
txnRecCountForStore = sdfTransactions.filter(sdfTransactions.store_nbr == 44).count()

In [7]:
txnRecCountForStore

1677

In [9]:
from __future__ import division

In [10]:
percentageRecs = txnRecCountForStore / sdfTransactions.count()
percentageRecs

0.020086719049444233

In [11]:
sdfTrain = sqlContext.read.csv("/gl-capstone-data/Team6-C-Sep/Data/train/train.csv",header = True,inferSchema = True)

In [12]:
sqlContext.registerDataFrameAsTable(sdfTrain, "sdfTrainTbl")

In [13]:
sqlContext.sql("select count(distinct(item_nbr)) from sdfTrainTbl where date < '2014-01-01 00:00:00' and store_nbr = 44").show()

+------------------------+
|count(DISTINCT item_nbr)|
+------------------------+
|                    1758|
+------------------------+